[project]
name = "go-stac-api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14.3"
dependencies = []

[dependency-groups]
dev = [
    "pre-commit>=4.5.1",
    "stac-api-validator>=0.6.7",
]
